.new-repo-box(layout="column")
  label(layout="row", layout-align="start center")
    span Name
    input.form-control(ng-model="newRepo.name")
  label(layout="row", layout-align="start center")
    span Provider
    md-input-containter
      md-select(ng-model="newRepo.provider")
        md-option(ng-repeat="item in repoProviders", ng-value="item.value") {{item.name}}
  label(layout="row", layout-align="start center")
    span Url
    input.form-control(ng-model="newRepo.url")
  label(layout="row", layout-align="start center")
    span Type
    md-input-containter
      md-select(ng-model="newRepo.type")
        md-option(value="public") Public
        md-option(value="private") Private
  label(layout="row", layout-align="start center", ng-show="newRepo.type=='private'")
    span SSH Key
    input.form-control(ng-model="newRepo.sshKey")
  .text-center
    button.btn.btn-secondary(ui-sref="^") Cancel
    &nbsp;&nbsp;&nbsp;
    button.btn.btn-success(ng-disabled="!newRepo.name || !newRepo.url", ng-click="addNewRepo()") {{newRepo.uuid ? 'Update' : 'Add'}}