div(style="max-width: 600px; background-color: #333333; padding: 20px 60px 60px 60px;")
  img(src="http://tarabalam.com/assets/client/images/tarabalam.png" style="margin-bottom: 15px; width: 200px;")
  div(style="background-color: #ffffff; padding: 40px; font-size: 16px; line-height: 30px;")
    block content