div.widget-container(masonry, options="$root.masonryOptions", ng-show="projects.length")
  .item.widget(masonry-tile, ng-repeat="project in projects track by $index", style="width: calc(33.33% - 10px);")
    div.project
      .widget-header.bg-primary(layout, layout-align="start center")
        h4 
          strong(ui-sref="user.organization.projects.project.applications({projectId: project.uuid})") {{project.name}}
      .widget-body
        div.app-description {{project.description || 'project Description'}}
        div.app-details(layout="column")
          label
            span.label-title Created at:
            span {{project.createdAt | date:'dd-M-yyyy'}}
          label
            span.label-title No of Apps:
            span {{project.region}}
         
      .widget-footer(layout)
        .button-group(layout, flex)
          button.btn.btn-success(flex) {{project.stack}}
        button.btn.btn-info(flex, ui-sref="user.organization.projects.project.config({projectId: project.uuid})") config






  
         
