label(layout="row")
  span Name of application
  input.form-control(ng-model="service.appname", flex="50")
  &nbsp
  i.fa.fa-exclamation-circle.fa-2x(style="font-size:20px")

label(layout="row")
  span Namespace
  input.form-control(ng-model="service.namespace", flex="50")
  &nbsp
  i.fa.fa-exclamation-circle.fa-2x(style="font-size:20px")

label(layout="row")
  span Domain Name
  input.form-control(ng-model="service.domain", flex="30")
  &nbsp
  span . deploybytes.com
  
label(layout="row")
  span Port
  input.form-control(ng-model="service.port", flex="50")
  &nbsp
  i.fa.fa-exclamation-circle.fa-2x(style="font-size:20px")

hr
button.btn.btn-success(ng-click="newservice()") Deploy to Cluster


hr
.content-box(ng-show="showLogs")
  h3 Logs
  .content {{logs}}
