label(layout="row")
  span Name of application
  input.form-control(ng-model="", flex="50")
  i.fa.fa-info-circle

label(layout="row")
  span Namespace
  input.form-control(ng-model="", flex="50")
  i.fa.fa-info-circle

label(layout="row")
  span Domain Name
  input.form-control(ng-model="", flex="30")
  span .deploybytes.com
  i.fa.fa-info-circle

label(layout="row")
  span Port
  input.form-control(ng-model="", flex="50")
  i.fa.fa-info-circle




label(layout="row")
  span Service name
  input.form-control(ng-model="cluster.servicename", flex="50")
  i.fa.fa-info-circle

label(layout="row")
  span Service.yaml
  textarea(rows=20).form-control(ng-model="cluster.serviceyaml",flex="50")
  i.fa.fa-info-circle

hr
button.btn.btn-success(ng-click="newservice()") Deploy to Cluster


hr
.content-box(ng-show="showLogs")
  h3 Logs
  .content {{logs}}
