md-table-container.scrollable.grids-table.build-image-table(layout, flex, ng-show="images.length")
  table(md-table, flex)
    thead(md-head, md-order="query.order")
      tr(md-row)
        th(md-column, style="width: 40px") &nbsp;
        th(md-column) Image
        th(md-column) Version
        th(md-column) Tag
        th(md-column) Stage
        th(md-column) Status
        th(md-column) Release
        th(md-column) Created at
    tbody(md-body)
      tr(md-row, ng-repeat="image in images | orderBy: query.order")
        td(md-cell, style="width: 40px")
          md-radio-group(ng-model="deployGlobal.selectedImage")
            md-radio-button(ng-value="image")
        td(md-cell)
          span()    {{image.buildImageId}}
        td(md-cell) {{image.build.version}}
        //td(md-cell) {{image.version}}
        td(md-cell) {{image.build.tag}}
        td(md-cell) {{image.stage}}
        td(md-cell) {{image.status}}
        td(md-cell) {{image.build.release.name}}
        td(md-cell) {{image.createdAt}}

h3(ng-hide="images.length") There is no image

label(layout="row", layout-align="start center")
  span Server Type
  md-select(ng-model="server", placeholder="Select")
    md-option(value="internal") New
    md-option(value="external") Kubernetes

label(layout="row", ng-show="server == 'external'")
  span Domain name
  input.form-control(ng-model="service.domain")
  span  .deploybytes.com

.button-group
    button.btn.btn-success(ng-disabled="global.deploymentStatus",ng-show="server == 'external'" ng-click="deployImage()") Deploy

.content-box(layout="column" ng-show="server == 'internal'")
     .content(layout="column" ng-show="server == 'internal'")
      label(layout="row", ng-show="server == 'internal'")
        span Port
        input.form-control(ng-model="port")

      label(layout="row", ng-show="server == 'internal'")
        span Domain name
        input.form-control(ng-model="port")

      label(layout="row", ng-show="server == 'internal'")
        span Docker image
        input.form-control(ng-model="port")

      label(layout="row", ng-show="server == 'internal'")
         span Domain name
         input.form-control(ng-model="port")

      label(layout="row", ng-show="server == 'internal'")
         span Docker image
         input.form-control(ng-model="port")

      .button-group
          button.btn.btn-success(ng-disabled="global.deploymentStatus", ng-click="deployNew()") Deploy Image
