input(ng-model='dataToSend')
button(ng-click='emitBasic()') Send
button(ng-click='emitACK()') Send (ACK)
div Server Response: {{ serverResponse }}
div Server Response (ACK): {{ serverResponseACK }}
div Console log: {{con}}


//html
  head
    script(src='angular.min.js')
    script(src='socket.io-1.3.2.js')
    script(src='angular-socket.js')
    script(type='application/javascript').

  body
      input(ng-model='dataToSend')
      button(ng-click='emitBasic()') Send
      button(ng-click='emitACK()') Send (ACK)
      div Server Response: {{ serverResponse }}
      div Server Response (ACK): {{ serverResponseACK }}
      div Console log: {{con}}


//.content-box
  h3 Deployment details
  .content(layout="column")
    label(layout="row")
      span Application name
      p {{global.application.name}}
    label(layout="row")
      span Build ID
      p {{deployGlobal.selectedImage.build.uuid}}
    label(layout="row")
      span Repository name
      p {{deployGlobal.selectedImage.build.repoName}}
    label(layout="row")
      span Image tag
      p {{deployGlobal.selectedImage.build.tag}}


//.content-box
  h3 Logs
  .content(layout="column")
    .logs(style="line-height: 24px") {{deployGlobal.logs}}
