.content-box
  h3 Deployment details
  .content(layout="column")
    label(layout="row")
      span Application name
      p {{global.application.name}}
    label(layout="row")
      span Build ID
      p {{deployGlobal.selectedImage.build.uuid}}
    label(layout="row")
      span Image ID
      p {{deployGlobal.selectedImage.uuid}}
.content-box
  h3 Logs
  .content(layout="column") 
    .logs(style="line-height: 24px") {{deployGlobal.logs}}