doctype html
html()
  head
    title Auto deployment
    base(href='/')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Bill Extraction.")
    block styles
    // STYLES
    link(rel="stylesheet", href="/vendor/angular-material-data-table/md-data-table.css")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/vendor/bootstrap-css-only/bootstrap.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/sweetalert/sweetalert.css")
    link(rel="stylesheet", href="/styles/elements/badges.css")
    link(rel="stylesheet", href="/styles/elements/buttons.css")
    link(rel="stylesheet", href="/styles/elements/content-box.css")
    link(rel="stylesheet", href="/styles/elements/dashboard-box.css")
    link(rel="stylesheet", href="/styles/elements/forms.css")
    link(rel="stylesheet", href="/styles/elements/images.css")
    link(rel="stylesheet", href="/styles/elements/info-box.css")
    link(rel="stylesheet", href="/styles/elements/invoice.css")
    link(rel="stylesheet", href="/styles/elements/loading-indicators.css")
    link(rel="stylesheet", href="/styles/elements/menus.css")
    link(rel="stylesheet", href="/styles/elements/panel-box.css")
    link(rel="stylesheet", href="/styles/elements/response-messages.css")
    link(rel="stylesheet", href="/styles/elements/responsive-tables.css")
    link(rel="stylesheet", href="/styles/elements/ribbon.css")
    link(rel="stylesheet", href="/styles/elements/social-box.css")
    link(rel="stylesheet", href="/styles/elements/tables.css")
    link(rel="stylesheet", href="/styles/elements/tile-box.css")
    link(rel="stylesheet", href="/styles/elements/timeline.css")
    link(rel="stylesheet", href="/styles/helpers/admin-responsive.css")
    link(rel="stylesheet", href="/styles/helpers/animate.css")
    link(rel="stylesheet", href="/styles/helpers/backgrounds.css")
    link(rel="stylesheet", href="/styles/helpers/boilerplate.css")
    link(rel="stylesheet", href="/styles/helpers/border-radius.css")
    link(rel="stylesheet", href="/styles/helpers/colors.css")
    link(rel="stylesheet", href="/styles/helpers/frontend-responsive.css")
    link(rel="stylesheet", href="/styles/helpers/grid.css")
    link(rel="stylesheet", href="/styles/helpers/page-transitions.css")
    link(rel="stylesheet", href="/styles/helpers/responsive-elements.css")
    link(rel="stylesheet", href="/styles/helpers/spacing.css")
    link(rel="stylesheet", href="/styles/helpers/typography.css")
    link(rel="stylesheet", href="/styles/helpers/utils.css")
    link(rel="stylesheet", href="/styles/icons/elusive/elusive.css")
    link(rel="stylesheet", href="/styles/icons/fontawesome/fontawesome.css")
    link(rel="stylesheet", href="/styles/icons/iconic/iconic.css")
    link(rel="stylesheet", href="/styles/icons/linecons/linecons.css")
    link(rel="stylesheet", href="/styles/icons/meteocons/meteocons.css")
    link(rel="stylesheet", href="/styles/icons/spinnericon/spinnericon.css")
    link(rel="stylesheet", href="/styles/icons/typicons/typicons.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/login.css")
    link(rel="stylesheet", href="/styles/snippets/chat.css")
    link(rel="stylesheet", href="/styles/snippets/files-box.css")
    link(rel="stylesheet", href="/styles/snippets/login-box.css")
    link(rel="stylesheet", href="/styles/snippets/mobile-navigation.css")
    link(rel="stylesheet", href="/styles/snippets/notification-box.css")
    link(rel="stylesheet", href="/styles/snippets/progress-box.css")
    link(rel="stylesheet", href="/styles/snippets/todo.css")
    link(rel="stylesheet", href="/styles/snippets/user-profile.css")
    link(rel="stylesheet", href="/styles/themes/admin/color-schemes/default.css")
    link(rel="stylesheet", href="/styles/themes/admin/layout.css")
    link(rel="stylesheet", href="/styles/themes/components/border-radius.css")
    link(rel="stylesheet", href="/styles/themes/components/default.css")
    link(rel="stylesheet", href="/styles/themes/frontend/color-schemes/default.css")
    link(rel="stylesheet", href="/styles/themes/frontend/layout.css")
    link(rel="stylesheet", href="/styles/widgets/accordion-ui/accordion.css")
    link(rel="stylesheet", href="/styles/widgets/calendar/calendar.css")
    link(rel="stylesheet", href="/styles/widgets/carousel/carousel.css")
    link(rel="stylesheet", href="/styles/widgets/charts/justgage/justgage.css")
    link(rel="stylesheet", href="/styles/widgets/charts/morris/morris.css")
    link(rel="stylesheet", href="/styles/widgets/charts/piegage/piegage.css")
    link(rel="stylesheet", href="/styles/widgets/charts/xcharts/xcharts.css")
    link(rel="stylesheet", href="/styles/widgets/chosen/chosen.css")
    link(rel="stylesheet", href="/styles/widgets/colorpicker/colorpicker.css")
    link(rel="stylesheet", href="/styles/widgets/datatable/datatable.css")
    link(rel="stylesheet", href="/styles/widgets/datepicker-ui/datepicker.css")
    link(rel="stylesheet", href="/styles/widgets/datepicker/datepicker.css")
    link(rel="stylesheet", href="/styles/widgets/daterangepicker/daterangepicker.css")
    link(rel="stylesheet", href="/styles/widgets/dialog/dialog.css")
    link(rel="stylesheet", href="/styles/widgets/dropdown/dropdown.css")
    link(rel="stylesheet", href="/styles/widgets/dropzone/dropzone.css")
    link(rel="stylesheet", href="/styles/widgets/file-input/fileinput.css")
    link(rel="stylesheet", href="/styles/widgets/fullpage/fullpage.css")
    link(rel="stylesheet", href="/styles/widgets/input-switch/inputswitch-alt.css")
    link(rel="stylesheet", href="/styles/widgets/input-switch/inputswitch.css")
    link(rel="stylesheet", href="/styles/widgets/ionrangeslider/ionrangeslider.css")
    link(rel="stylesheet", href="/styles/widgets/jcrop/jcrop.css")
    link(rel="stylesheet", href="/styles/widgets/jgrowl-notifications/jgrowl.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/layerslider.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/borderlessdark/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/borderlessdark3d/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/borderlesslight/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/borderlesslight3d/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/carousel/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/darkskin/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/defaultskin/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/fullwidth/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/fullwidthdark/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/glass/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/lightskin/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/minimal/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/noskin/skin.css")
    link(rel="stylesheet", href="/styles/widgets/layerslider/skins/v5/skin.css")
    link(rel="stylesheet", href="/styles/widgets/loading-bar/loadingbar.css")
    link(rel="stylesheet", href="/styles/widgets/maps/vector-maps/vectormaps.css")
    link(rel="stylesheet", href="/styles/widgets/markdown/markdown.css")
    link(rel="stylesheet", href="/styles/widgets/modal/modal.css")
    link(rel="stylesheet", href="/styles/widgets/multi-select/multiselect.css")
    link(rel="stylesheet", href="/styles/widgets/multi-upload/fileupload.css")
    link(rel="stylesheet", href="/styles/widgets/nestable/nestable.css")
    link(rel="stylesheet", href="/styles/widgets/noty-notifications/noty.css")
    link(rel="stylesheet", href="/styles/widgets/owlcarousel/owlcarousel.css")
    link(rel="stylesheet", href="/styles/widgets/popover/popover.css")
    link(rel="stylesheet", href="/styles/widgets/pretty-photo/prettyphoto.css")
    link(rel="stylesheet", href="/styles/widgets/progressbar/progressbar.css")
    link(rel="stylesheet", href="/styles/widgets/range-slider/rangeslider.css")
    link(rel="stylesheet", href="/styles/widgets/slidebars/slidebars.css")
    link(rel="stylesheet", href="/styles/widgets/slider-ui/slider.css")
    link(rel="stylesheet", href="/styles/widgets/summernote-wysiwyg/summernote-wysiwyg.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCore.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreDefault.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreDjango.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreEclipse.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreEmacs.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreFadeToGrey.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreMDUltra.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreMidnight.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shCoreRDark.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeDefault.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeDjango.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeEclipse.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeEmacs.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeFadeToGrey.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeMDUltra.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeMidnight.css")
    link(rel="stylesheet", href="/styles/widgets/syntax/styles/shThemeRDark.css")
    link(rel="stylesheet", href="/styles/widgets/tabs-ui/tabs.css")
    link(rel="stylesheet", href="/styles/widgets/theme-switcher/themeswitcher.css")
    link(rel="stylesheet", href="/styles/widgets/timepicker/timepicker.css")
    link(rel="stylesheet", href="/styles/widgets/tocify/tocify.css")
    link(rel="stylesheet", href="/styles/widgets/tooltip/tooltip.css")
    link(rel="stylesheet", href="/styles/widgets/touchspin/touchspin.css")
    link(rel="stylesheet", href="/styles/widgets/uniform/uniform.css")
    link(rel="stylesheet", href="/styles/widgets/wizard/wizard.css")
    link(rel="stylesheet", href="/styles/widgets/xeditable/xeditable.css")
    // STYLES END
  body(ng-app="app", ng-controller="AppCtrl")
    block body
      div#main-content(ui-view="main")
    // SCRIPTS
    script(src="/addons/mansory.min.js")
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/lodash/js/lodash.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-ui-router/angular-ui-router.js")
    script(src="/vendor/restangular/restangular.js")
    script(src="/chart-library/Chart.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/angular-aria/angular-aria.js")
    script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/vendor/angular-material-data-table/md-data-table.js")
    script(src="/vendor/angular-material/angular-material.js")
    script(src="/vendor/angular-messages/angular-messages.js")
    script(src="/vendor/bootstrap/bootstrap.js")
    script(src="/vendor/sweetalert/sweetalert.min.js")
    script(src="/chart-library/angular-chart.js")
    script(src="/app/templates-app.js")
    script(src="/app/app.js")
    script(src="/app/user/organization/applications/1.applications.js")
    script(src="/app/user/organization/applications/2.application.js")
    script(src="/app/user/organization/applications/application-steps.js")
    script(src="/app/user/organization/applications/new-application.js")
    script(src="/app/user/organization/applications/releases/releases.js")
    script(src="/app/user/organization/builds/1.builds.js")
    script(src="/app/user/organization/builds/build-steps.js")
    script(src="/app/user/organization/organization.js")
    script(src="/app/user/organization/projects/project/new-project.js")
    script(src="/app/user/organization/projects/project/project-application-states.js")
    script(src="/app/user/organization/projects/project/project.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/build/config.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/build/history.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/dashboard.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/deploy/cloud-metric.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/deploy/images.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/deploy/logs.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/test/cloud-metric.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/test/config.js")
    script(src="/app/user/organization/projects/project/tabs/application-steps/test/summary.js")
    script(src="/app/user/organization/projects/projects.js")
    script(src="/app/user/user.js")
    script(src="/common/directives/breadcrumb/breadcrumb.js")
    script(src="/common/directives/cloud-watch/cloud-watch.js")
    script(src="/common/directives/collapse-box/collapse-box.js")
    script(src="/common/directives/deploying-app/deploying-app.js")
    script(src="/common/directives/header-bar/header-bar.js")
    script(src="/common/directives/main-sidebar/main-sidebar.js")
    script(src="/common/directives/masonry/masonry.js")
    script(src="/common/directives/pipeline/pipeline.js")
    script(src="/common/services/deployment-service.js")
    script(src="/common/services/project-service.js")
    // SCRIPTS END