div#page-wrapper(ui-view='user', flex, style="width: 100%", layout="column", ng-class="{'sidebar-showed': $root.sidebarShowed}")
.loading-overlay(ng-show="$root.loading", layout="column", layout-align="center center")
  i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw