header-bar
div(layout, flex)
  main-sidebar#main-sidebar(layout="column", ng-class="{closed: $root.sidebarClosed}")
  div(layout="column", flex)
    .scrollable(flex, layout="column")
      breadcrumb(items="breadcrumbs.items")
      h2.page-title(layout, ng-hide="hideTitle")
        | {{pageTitle}}
        span(flex)
        button.btn.btn-info(ng-if="addOnButton.title", ui-sref="{{addOnButton.url}}") {{addOnButton.title}}
      div.content-wrapper(ui-view="organization", flex, layout="column", ng-class="{'no-padding': hideTitle}")
        .panel-body
          .example-box-wrapper
            .row
              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(ui-sref="user.organization.projects.new-project", title='Add New Project')
                  //span.bs-badge.badge-absolute 5
                  .tile-header
                    | Add new project
                  .tile-content-wrapper
                    i.glyph-icon.icon-folder
              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(ui-sref="user.organization.projects", title='projects') 
                  .tile-header
                    | Projects
                  .tile-content-wrapper
                    i.glyph-icon.icon-folder-open
              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(ui-sref="user.organization.projects.project.applications.application.stage.deploy.deployments", title='Recenet updates')
                  //span.bs-badge.badge-absolute 1
                  .tile-header
                    | Recent Update
                  .tile-content-wrapper
                    i.glyph-icon.icon-cog
              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(href='#', title='Documentation')
                  //span.bs-badge.badge-absolute 2
                  .tile-header
                    | Documentation
                  .tile-content-wrapper
                    i.glyph-icon.icon-file-text
              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(href='#', title='Deploybot')
                  .tile-header
                    | Deploybot
                  .tile-content-wrapper
                    i.glyph-icon.icon-typicons-user

              .col-md-2
                a.tile-box.tile-box-shortcut.btn-black(href='#', title='Analytics')
                  .tile-header
                    | Analytics
                  .tile-content-wrapper
                    i.glyph-icon.icon-typicons-chart-bar
        
        .panel
          .panel-body
            h2(style='color:#454545 !important') Welcome to Deploybytes!  
            br
            .example-box-wrapper
              .row
                .col-md-12
                  .content-box
                    .content-box-wrapper
                      section
                        article.articles
                          article
                            h3   Lets Get started
                            br
                            | Hey there! Thanks for choosing Deploybytes.We would like to help you through the process.Following steps makes your deployment easier.
                            | Lets Get Started
                            br
                            span.ol
                              span.li
                                span.important Create new project
                                |  You can navigate to existing projects if you already create one.
                              br
                              
                              span.li
                                span.important Add Configuartion
                                |  Add configuration for project which will include github, docker and amazon services
                              br
                               
                              span.li
                                span.important Create new application
                                |  Lets get start by creating application.Your application will be deployed as 'appname'
                                code.deploybytes.com
                              br
                              
                              span.li
                                span.important Build 
                                |  Build section will build your application. select configurations and build.Push Image after successfull build. You can see status in History tab  
                              br
                              
                              span.li
                                span.important Deploy
                                |  Select an image to deploy
                              br
                              
                              span.li
                                span.important Test
                                |  Done!
                              .wrapper
                                #cog.cog-small
                                #cog-anti.cog-medium
                              br                 
                          article
